<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <th:block th:fragment="headerFragment">
    <head>
      <meta charset="UTF-8">
      <title>포켓몬스터 2022 띠부띠부씰 도감</title>
      <link rel="stylesheet" href="/css/common.css"/>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
    </head>
    <body>
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6"></div>
          <div class="col-md-6">
            <img src="/image/kakao_login_small.png" class="btn btn-primary"/>
          </div>
        </div>
      </div>
    </body>
  </th:block>
</html>