.image {position:relative; display:inline-block; width:84px; height:111px; margin: 1px; cursor:pointer;}
.img01 {background-position: -124px -34px}
.img02 {background-position: -217px -34px;}
.img03 {background-position: -310px -34px;}
.img04 {background-position: -403px -34px;}
.img05 {background-position: -496px -34px;}
.img06 {background-position: -124px -152px;}
.img07 {background-position: -217px -152px;}
.img08 {background-position: -310px -152px;}
.img09 {background-position: -403px -152px;}
.img10 {background-position: -496px -152px;}
.img11 {background-position: -124px -270px;}
.img12 {background-position: -217px -270px;}
.img13 {background-position: -310px -270px;}
.img14 {background-position: -403px -270px;}
.img15 {background-position: -496px -270px;}
.img16 {background-position: -124px -389px;}
.img17 {background-position: -217px -389px;}
.img18 {background-position: -310px -389px;}
.img19 {background-position: -403px -389px;}
.img20 {background-position: -496px -389px;}
.img21 {background-position: -124px -507px;}
.img22 {background-position: -217px -507px;}
.img23 {background-position: -310px -507px;}
.img24 {background-position: -403px -507px;}
.img25 {background-position: -496px -507px;}
.img201 {background-position: -10px -10px}
.img202 {background-position: -104px -10px;}
.img203 {background-position: -198px -10px;}
.img204 {background-position: -293px -10px;}
.img205 {background-position: -388px -10px;}
.img206 {background-position: -481px -10px;}
.img207 {background-position: -576px -10px;}
.img301 {background-position: -10px -130.5px}
.img302 {background-position: -104px -130.5px;}
.img303 {background-position: -198px -130.5px;}
.img304 {background-position: -293px -130.5px;}
.img305 {background-position: -388px -130.5px;}
.img306 {background-position: -481px -130.5px;}
.img307 {background-position: -576px -130.5px;}
.img401 {background-position: -10px -251px}
.img402 {background-position: -104px -251px;}
.img403 {background-position: -198px -251px;}
.img404 {background-position: -293px -251px;}
.img405 {background-position: -388px -251px;}
.img406 {background-position: -481px -251px;}
.img407 {background-position: -576px -251px;}
.img501 {background-position: -10px -371.5px}
.img502 {background-position: -104px -371.5px;}
.img503 {background-position: -198px -371.5px;}
.img504 {background-position: -293px -371.5px;}
.img505 {background-position: -388px -371.5px;}
.img506 {background-position: -481px -371.5px;}
.img507 {background-position: -576px -371.5px;}
.img601 {background-position: -10px -491px}
.img602 {background-position: -104px -491px;}
.img603 {background-position: -198px -491px;}
.img604 {background-position: -293px -491px;}
.img605 {background-position: -388px -491px;}
.img606 {background-position: -481px -491px;}
.img607 {background-position: -576px -491px;}
.img701 {background-position: -10px -611px}
.img702 {background-position: -104px -611px;}
.img703 {background-position: -198px -611px;}
.img704 {background-position: -293px -611px;}
.img705 {background-position: -388px -611px;}
.img706 {background-position: -481px -611px;}
.img707 {background-position: -576px -611px;}
.img801 {background-position: -10px -731px}
.img802 {background-position: -104px -731px;}
.img803 {background-position: -198px -731px;}
.img804 {background-position: -293px -731px;}
.img805 {background-position: -388px -731px;}
.img806 {background-position: -481px -731px;}
.img807 {background-position: -576px -731px;}
.img901 {background-position: -10px -851px}
.img902 {background-position: -104px -851px;}
.img903 {background-position: -198px -851px;}
.img904 {background-position: -293px -851px;}
.img905 {background-position: -388px -851px;}
.img906 {background-position: -481px -851px;}
.img907 {background-position: -576px -851px;}
.img1001 {background-position: -10px -971.5px}
.img1002 {background-position: -104px -971.5px;}
.img1003 {background-position: -198px -971.5px;}
.img1004 {background-position: -293px -971.5px;}
.img1005 {background-position: -388px -971.5px;}
.img1006 {background-position: -481px -971.5px;}
.img1007 {background-position: -576px -971.5px;}
.img1101 {background-position: -10px -1091.5px}
.img1102 {background-position: -104px -1091.5px;}
.img1103 {background-position: -198px -1091.5px;}
.img1104 {background-position: -293px -1091.5px;}
.img1105 {background-position: -388px -1091.5px;}
.img1106 {background-position: -481px -1091.5px;}
.img1107 {background-position: -576px -1091.5px;}
.img1201 {background-position: -10px -1212px}
.img1202 {background-position: -104px -1212px;}
.img1203 {background-position: -198px -1212px;}
.img1204 {background-position: -293px -1212px;}
.img1205 {background-position: -388px -1212px;}
.img1206 {background-position: -481px -1212px;}
.img1207 {background-position: -576px -1212px;}
.img1301 {background-position: -10px -1331.5px}
.img1302 {background-position: -104px -1331.5px;}
.img1303 {background-position: -198px -1331.5px;}
.img1304 {background-position: -293px -1331.5px;}
.img1305 {background-position: -388px -1331.5px;}
.img1306 {background-position: -481px -1331.5px;}
.img1307 {background-position: -576px -1331.5px;}
.img1401 {background-position: -10px -1451.5px}
.img1402 {background-position: -104px -1451.5px;}
.img1403 {background-position: -198px -1451.5px;}
.img1404 {background-position: -293px -1451.5px;}
.img1405 {background-position: -388px -1451.5px;}
.img1406 {background-position: -481px -1451.5px;}
.img1407 {background-position: -576px -1451.5px;}
.img1501 {background-position: -10px -1571.5px}
.img1502 {background-position: -104px -1571.5px;}
.img1503 {background-position: -198px -1571.5px;}
.img1504 {background-position: -293px -1571.5px;}
.img1505 {background-position: -388px -1571.5px;}
.img1506 {background-position: -481px -1571.5px;}
.img1507 {background-position: -576px -1571.5px;}
.img1601 {background-position: -10px -1691px}
.img1602 {background-position: -104px -1691px;}
.img1603 {background-position: -198px -1691px;}
.img1604 {background-position: -293px -1691px;}
.img1605 {background-position: -388px -1691px;}
.img1606 {background-position: -481px -1691px;}
.img1607 {background-position: -576px -1691px;}
.img1701 {background-position: -10px -1811.5px}
.img1702 {background-position: -104px -1811.5px;}
.img1703 {background-position: -198px -1811.5px;}
.img1704 {background-position: -293px -1811.5px;}
.img1705 {background-position: -388px -1811.5px;}
.img1706 {background-position: -481px -1811.5px;}
.img1707 {background-position: -576px -1811.5px;}
.img1801 {background-position: -9px -1932px}
.img1802 {background-position: -104px -1932px;}
.img1803 {background-position: -198px -1932px;}
.img1804 {background-position: -293px -1932px;}