.image {position:relative; display:inline-block; width:112px; height:145px; margin: 1px; cursor:pointer;}
.img201 {background-position: -10px -10px}
.img202 {background-position: -129px -10px;}
.img203 {background-position: -248px -10px;}
.img204 {background-position: -366px -10px;}
.img205 {background-position: -482px -9.5px;}
.img206 {background-position: -598px -11px;}
.img207 {background-position: -717px -11px;}
.img301 {background-position: -9.5px -164px;}
.img302 {background-position: -128px -164px;}
.img303 {background-position: -246px -164px;}
.img304 {background-position: -365px -164px;}
.img305 {background-position: -482px -164px;}
.img306 {background-position: -597.5px -165px;}
.img307 {background-position: -717px -165px;}
.img401 {background-position: -8.5px -319px}
.img402 {background-position: -127px -319px;}
.img403 {background-position: -246px -319px;}
.img404 {background-position: -364.5px -319px;}
.img405 {background-position: -481px -318px;}
.img406 {background-position: -597px -319.2px;}
.img407 {background-position: -716px -319.5px;}
.img501 {background-position: -8.5px -472px}
.img502 {background-position: -127px -472px;}
.img503 {background-position: -246px -472px;}
.img504 {background-position: -364.5px -472px;}
.img505 {background-position: -481px -471px;}
.img506 {background-position: -597.5px -472px;}