<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:replace="layout/header :: headerFragment('index')"/>
<body>
<main>
  <div class="px-3 py-5 my-5 text-center text-white">
    <img class="d-block mx-auto mb-4" src="/image/1-YF6YerAhhwaNXtuxfbYQ5g.png" alt="팬텀" width="72" height="72">
    <h1 class="display-5 fw-bold">띠뿌실도감 Ver 1.0</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4 mt-5">
        이 나이에 어쩌구 저쩌구 한숨나오는 취미생활 <br/>
        Personal 띠뿌실 온라인 도감
      </p>
<!--      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">-->
<!--        <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Primary button</button>-->
<!--        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Secondary</button>-->
<!--      </div>-->
    </div>
  </div>
  <div class="row row-cols-1 row-cols-md-2 mb-3 text-center">
    <div class="col" th:each="category:${categories}">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal" th:text="${category.desc}"></h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">
           <img th:src="@{/image/{name}.jpg(name=${category.name})}" width="100%"/>
          </h1>
          <ul class="list-unstyled mt-3 mb-4">
            <p th:text="${category.desc}"></p>
          </ul>
          <a th:href="@{/{category}(category=${category.name})}" role="button"
             class="w-100 btn btn-lg btn-outline-primary">도감보러가기</a>
        </div>
      </div>
    </div>
  </div>
</main>
</body>
<th:block th:replace="layout/footer :: footerFragment"/>
</html>